infra/n8n-workflows/12-user-profile.json
{
  "name": "FamilyTrack - Get Profile",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/user/profile",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-get-profile",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "get-profile-wh"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.user_id, u.name, u.email, u.role, u.avatar_base64, f.name as family_name, f.invite_code FROM users u LEFT JOIN families f ON u.family_id = f.family_id WHERE u.user_id = {{ $json.userId }}",
        "options": {}
      },
      "id": "postgres-get-profile",
      "name": "Get Profile",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [440, 300],
      "credentials": {
        "postgres": {
          "id": "tUhgoGHD50ho6lDG",
          "name": "FamilyTrack PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\nreturn [{\n  json: {\n    success: true,\n    userId: row.user_id,\n    name: row.name,\n    email: row.email,\n    avatar: row.avatar_base64,\n    role: row.role,\n    familyName: row.family_name,\n    inviteCode: row.invite_code\n  }\n}];"
      },
      "id": "code-format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "response-get-profile",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Get Profile", "type": "main", "index": 0 }]
      ]
    },
    "Get Profile": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    },
    "Format Response": {
      "main": [
        [{ "node": "Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
