infra/n8n-workflows/13-user-profile-update.json
{
  "name": "FamilyTrack - Update Profile",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/user/update-profile",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-update-profile",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "update-profile-wh"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users SET name = COALESCE(NULLIF('{{ $json.name }}', ''), name), avatar_base64 = COALESCE(NULLIF('{{ $json.avatar }}', ''), avatar_base64), updated_at = NOW() WHERE user_id = {{ $json.userId }} RETURNING user_id, name, avatar_base64, role",
        "options": {}
      },
      "id": "postgres-update-profile",
      "name": "Update Profile",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [440, 300],
      "credentials": {
        "postgres": {
          "id": "tUhgoGHD50ho6lDG",
          "name": "FamilyTrack PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\nreturn [{\n  json: {\n    success: true,\n    userId: row.user_id,\n    name: row.name,\n    avatar: row.avatar_base64,\n    role: row.role\n  }\n}];"
      },
      "id": "code-format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "response-update-profile",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Update Profile", "type": "main", "index": 0 }]
      ]
    },
    "Update Profile": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    },
    "Format Response": {
      "main": [
        [{ "node": "Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
