infra/n8n-workflows/13-user-profile-update.json
{
  "name": "FamilyTrack - Update User Profile",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/user/update-profile",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-user-update",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "user-update-wh"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users SET name = COALESCE('{{ $json.name }}', name), email = COALESCE('{{ $json.email }}', email), phone = COALESCE('{{ $json.phone }}', phone), profile_photo_url = COALESCE('{{ $json.profilePhotoUrl }}', profile_photo_url), updated_at = NOW() WHERE user_id = {{ $json.userId }} RETURNING user_id, name, email, phone, profile_photo_url, role, family_id",
        "options": {}
      },
      "id": "postgres-update-profile",
      "name": "Update User Profile",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [440, 300],
      "credentials": {
        "postgres": {
          "id": "tUhgoGHD50ho6lDG",
          "name": "FamilyTrack PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\nreturn [{\n  json: {\n    success: true,\n    userId: row.user_id,\n    name: row.name,\n    email: row.email,\n    phone: row.phone,\n    profilePhotoUrl: row.profile_photo_url,\n    role: row.role,\n    familyId: row.family_id\n  }\n}];"
      },
      "id": "code-format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "response-user-update",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Update User Profile", "type": "main", "index": 0 }]
      ]
    },
    "Update User Profile": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    },
    "Format Response": {
      "main": [
        [{ "node": "Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
